@page "/about"
@using System.Globalization
@model AboutModel
@{
    ViewData["Title"] = "Excitment Matches";
}
<div class="wm-explanation">
    <h1>The goal</h1>
    <p><b>Match to watch</b>, we aim to cut through the clutter. With so many matches happening every day, it can be overwhelming to decide which matches truly deserve your time.</p>
    <p>The idea is simple: spotlight the matches that will keep you hooked, deliver unforgettable moments, and provide you some 90' of excitment.</p>
</div>
<div class="wm-explanation">
    <h1>How the decision is made</h1>
    <p>Not every match makes the cut. It uses a combination of factors to identify matches with the highest potential for drama, excitement, and significance, therefore we created the <b><i>Exciment Score (ES)</i></b> :</p>
    <ul>
        <li>
            <b>Historical Rivalries</b>, some matches are just more intense due to rivalry present in it.
        </li>
        <li>
            <b>Form and Momentum</b>, teams current form and playing style has a big impact in the match result.
        </li>
        <li>
            <b>League & league standings</b>, league competitivity and title matches are more prone to provide more excitment.
        </li>
        <li>
            <b>Head to head</b>, league competitivity and title matches are more prone to provide more excitment.
        </li>
    </ul>

    <p>A match with two big teams that ends in 0-0 after all might be less excitment over one with underdogs which the result was 4-4</p>
    <p>Because, <i class="end">in the end it's all about football.</i></p>
</div>