@page "/about"
@using System.Globalization
@model AboutModel
@{
    ViewData["Title"] = "Excitment Matches";
}
<div class="watch-explanation">
    <p>
        <b><i>Exciment Score (ES)</i></b> is an indication of how enthusiastic and excited the match might be worth to watch. It takes into consideration different factors such as league table, <i>head to head</i> and many others.
    </p>
    <p> With values closer to <i>100</i> it's expected to be an interesting match to watch, while a value closer to <i>0</i> might not be so excited to watch.</p>
</div>