@page
@using System.Globalization
@model IndexModel
@{
    ViewData["Title"] = "Match to Watch - Discover today’s most exciting football matches";
}

@if (Model.TrendingMatches.Count > 0)
{
    <div class="matches-section">
        <div class="matches-section-title">
            <h1>Match of the week</h1>
            <a href="/matches">See all</a>
        </div>
        <div class="matches-section-content">
            @foreach (var match in Model.TrendingMatches)
            {
                <partial name="_MatchCardSimple" for="@match" />
            }
        </div>
    </div>
}

<div class="d-flex justify-content-end">
    <a href="https://t.me/matchtowatch" class="mt-telegram">Join Telegram <i class="bi bi-telegram"></i></a>
</div>

<div class="matches-section">
    <div class="matches-section-title">
        <h1>Upcoming matches</h1>
        <a href="/matches">See all</a>
    </div>
    <div class="matches-section-content">
        @if (Model.OtherMatches.Count == 0)
        {
            <label>No excitment match to watch this week. We are looking for one.</label>
        }
        else
        {
            foreach (var match in Model.OtherMatches)
            {
                <partial name="_MatchCardSimple" for="@match" />
            }
        }
    </div>
</div>

@section Scripts {

    <script>

        $(document).ready(function () {
            // $("time").each(function (elem) {
            //     var utctimeval = $(this).html().trim();
            //     var date = new Date(utctimeval);
            //     var optionsDate = {
            //         day: "2-digit",
            //         month: "2-digit",
            //         year: "2-digit",
            //     };
            //     var optionsTime = {
            //         hour: "numeric",
            //         minute: "numeric",
            //     };
            //     $(this).html(date.toLocaleString("pt", optionsDate) + " " + date.toLocaleString("pt", optionsTime));
            // });

        });

    </script>
}