@* Skeleton loading placeholder for match detail page *@
<div class="skeleton-match-detail-card">
    <div class="skeleton skeleton-title"></div>

    <div class="skeleton-league">
        <div class="skeleton skeleton-image"></div>
        <div class="skeleton skeleton-text"></div>
    </div>

    <div class="skeleton-teams">
        <div class="skeleton-team-info">
            <div class="skeleton skeleton-image large"></div>
            <div class="skeleton skeleton-text"></div>
        </div>
        <div class="skeleton-team-info">
            <div class="skeleton skeleton-image large"></div>
            <div class="skeleton skeleton-text"></div>
        </div>
    </div>

    <div class="skeleton-content-rows">
        <div class="skeleton-row">
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text"></div>
        </div>
        <div class="skeleton-row">
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text"></div>
        </div>
        <div class="skeleton-row">
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text"></div>
        </div>
        <div class="skeleton-row">
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text"></div>
        </div>
    </div>
</div>
