@* Skeleton loading placeholder for match card *@
<div class="skeleton-match-card-simple">
    <div class="skeleton-header">
        <div class="skeleton skeleton-image"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text short"></div>
    </div>
    <div class="skeleton-body">
        <div class="skeleton-content">
            <div class="skeleton-team">
                <div class="skeleton skeleton-image"></div>
                <div class="skeleton skeleton-text"></div>
            </div>
            <div class="skeleton-score">
                <div class="skeleton skeleton-score-circle"></div>
                <div class="skeleton skeleton-text"></div>
            </div>
            <div class="skeleton-team">
                <div class="skeleton skeleton-image"></div>
                <div class="skeleton skeleton-text"></div>
            </div>
        </div>
    </div>
</div>
