.wm-explanation {
    color: #ffffff;
    margin: 0 0 10px;

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 0.9rem;
        font-weight: 200;
        margin: 10px 0px;

        i.end {
            font-weight: bold;
        }
    }

    ul {
        li {
            font-size: 0.9rem;
        font-weight: 200;
            margin: 10px 0px;
        }
    }
}
