.match-calendar {
    display: flex;

    .match-calendar-month {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;

        .match-calendar-day {
            display: flex;
            flex-direction: row;

            &-item {
                border: 2px solid $text-color;
                padding: 10px;
                margin: 5px;
                border-radius: 8px;
                cursor: pointer;

                &.day-active {
                    border-color: #d11111;
                    color: #d11111;
                }

                .calendar-day {
                    font-weight: bold;
                }
            }
        }
    }
}


.match-calendar-filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    label {
        margin: 0px 10px;
    }

    button {
        background-color: none;
        border: 0;
        margin: 0 10px;
        background-color: transparent;

        &.filter-change {
            border-bottom: 1px solid #000000;
        }
    }
}
