.watch-explanation {
    font-size: 10px;
    margin: 0 0 10px;

    p {
        margin: 2px 0;
    }
}

.watch-header {
/*    a {
        color: #ffffff;
    }*/

    ul {
        flex-grow: 1;

        .mw-menu-item {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;


        }
    }
}

// Sticky Navigation (Mobile + Desktop)
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

    &.scrolled {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
}

.watch-menu {
    display: flex;

    .watch-menu-option {
        display: flex;

        .watch-menu-option-item {
            display: flex;
            align-items: center;
            border-color: $text-color;
            border-style: solid;
            border-width: 2px;
            padding: 0.5rem 1rem;
            border-radius: 8rem;
            margin: 1rem;

            i {
                padding: 0px 5px;
            }
        }
    }
}

.bmc-btn-container {
    margin: 10px 0px;

    a.bmc-btn {
        font-size: 1.5rem;
        height: 50px;
        min-width: auto;

        &:hover {
            color: inherit;
        }
    }
}

.mt-telegram {
    color: #ffffff;
    text-decoration: none;

    &:hover {
        text-decoration: underline #fff;
    }
}
