.match-detail {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    color: #FFFAFA;

    .match-detail-content-left, .match-detail-content-right {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 50%;
        padding: 5px;
        /*background-color: #2a2a33;*/


        .match-detail-content-body {
            background-color: #ffffff;
            border-radius: 20px 20px 0px 0px;
            padding: 40px 20px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            color: $text-color;
            margin: 0px -1px -1px;

            .match-detail-content-item {
                margin-bottom: 25px;

                &.short-description {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    span {
                        font-size: 2rem;

                        &.title {
                            font-size: 1rem;
                        }
                    }
                }

                h1 {
                    font-size: 1rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .match-detail-content-data {
                    display: flex;
                    flex-direction: row;
                    gap: 10%;
                    justify-content: center;

                    .match-detail-content-data-team {
                        border: 2px solid #d0c4c4;
                        display: flex;
                        flex-direction: column;
                        border-radius: 8px;
                        width: 33.3%;
                        max-width: 200px;

                        div {
                            border-bottom: 1px solid #d0c4c4;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-top: 10px;

                            h1 {
                                font-size: 0.8rem;
                                font-weight: bold;
                            }
                        }

                        span {
                            align-self: center;
                            font-size: 2rem;

                            span {
                                font-size: 0.6rem;
                                padding-left: 2px;
                            }
                        }
                    }
                }
            }

            .match-detail-graph {
                font-size: 10px;
                margin: 10px 0;

                h1 {
                    font-size: 1rem;
                    font-weight: bold;
                }

                .bar {
                    display: flex;
                    align-items: center;
                    padding: 5px 0px;

                    .bar-value {
                        $border-rad: 4px;
                        background: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca);
                        padding: 5px 5px;
                        border-top-right-radius: $border-rad;
                        border-bottom-right-radius: $border-rad;

                        span {
                            text-wrap: nowrap;
                        }
                    }
                }
            }
        }
    }

    .match-detail-back {
        display: flex;
        gap: 10px;
        cursor: pointer;
    }

    .match-detail-info {

        &.match-detail-card {
            background: #22293b;
            border-radius: 10px;
            padding: 20px;

            h1 {
                font-size: 0.9rem;
                font-weight: bold;
            }

            .match-detail-league {
                border-radius: 8px 8px 0px 0px;
                padding: 0.2rem 0.8rem;
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    width: 1.5rem;
                }

                .match-detail-league-title {
                    padding: 0 0.2rem;
                    display: flex;
                    font-size: 14px;
                    font-weight: bold;
                    flex-grow: 1;
                }

                .match-detail-time {
                    display: flex;
                    align-self: center;
                    font-size: 12px;
                }
            }

            .match-detail-teams {
                display: flex;
                margin: 20px 0;

                .match-detail-team-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-grow: 1;
                    width: (60% /2);

                    img {
                        width: 5rem;
                    }

                    p {
                        margin-top: 5px;
                        overflow: hidden;
                        text-align: center;
                        font-size: 0.85rem;
                    }
                }

                .match-detail-team-label {
                    font-size: 10px;
                    display: flex;
                    align-self: center;
                }
            }

            &.match-detail-info-form {

                .match-detail-info-form-content {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    div {
                        display: grid;
                        grid-template-columns: auto 50%;

                        span {
                            align-self: center;
                            font-size: 0.8rem;
                        }

                        div {
                            display: flex;
                            gap: 2px;

                            span {
                                display: flex;
                                align-items: center;
                                border-radius: 9999px;
                                width: 24px;
                                height: 24px;
                                justify-content: center;
                                font-weight: 500;
                                font-size: 0.7rem;

                                &[data-form-score="1"] {
                                    background-color: #22c55e; /* Blue for ES >= 70% */
                                }

                                &[data-form-score="0"] {
                                    background-color: #eab308; /* Blue for ES >= 70% */
                                }

                                &[data-form-score="-1"] {
                                    background-color: #ef4444; /* Blue for ES >= 70% */
                                }
                            }
                        }
                    }
                }
            }

            &.match-detail-info-h2h {
                .match-detail-info-h2h-content {
                    font-size: 0.8rem;

                    .match-detail-info-h2h-item {
                        display: flex;
                        justify-content: space-between;
                        flex-grow: 1;
                        margin: 8px 0px;
                        background-color: #ffffff12;
                        padding: 4px 8px;
                        border-radius: 4px;

                        .h2h-match {

                            .lost {
                                color: #858585;
                            }
                        }
                    }
                }
            }

            &.match-detail-info-esinfo {
                .match-detail-info-esinfo-title {
                    font-size: 0.9rem;
                    font-weight: bold;
                }

                .match-detail-info-esinfo-score {
                    font-size: 2rem;
                    font-weight: 500;
                    /* Ring background based on percentage */
                    &[data-es] {
                        color: var(--color);
                    }
                    /* Color variations based on ES value */
                    &[data-es^="0.0"],
                    &[data-es^="0.1"],
                    &[data-es^="0.2"] {
                        --color: #ff4444; /* Red for ES < 25% */
                    }

                    &[data-es^="0.3"],
                    &[data-es^="0.4"] {
                        --color: #ffbb33; /* Yellow for ES < 50% */
                    }

                    &[data-es^="0.5"],
                    &[data-es^="0.6"] {
                        --color: #00C851; /* Green for ES < 70% */
                    }

                    &[data-es^="0.7"],
                    &[data-es^="0.8"],
                    &[data-es^="0.9"],
                    &[data-es="1"] {
                        --color: #33b5e5; /* Blue for ES >= 70% */
                    }
                }

                p {
                    font-size: 0.8rem;
                }
            }

            &.match-detail-info-esdetail {
                .match-detail-info-esdetail-content {
                    font-size: 0.8rem;

                    .esdetail-item {
                        margin: 10px 0px;

                        .esdetail-title {
                            display: flex;
                            justify-content: space-between;


                            span {
                                font-weight: bold;
                            }

                            .esdetail-name {
                                color: #ffffff63;
                                font-weight: normal;
                                font-size: 0.7rem;
                            }
                        }

                        .esdetail-progress {
                            height: 10px;
                        }
                    }
                }
            }

            &.match-detail-info-live {
                .match-detail-info-live-title {
                    display: flex;
                    justify-content: space-between;

                    p {
                        font-size: 0.9rem;
                        font-weight: bold;
                        background-color: #ef4444;
                        padding: 8px;
                        border-radius: 10px;
                    }

                    .match-detail-info-live-title-score {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        span {
                            font-size: 0.8rem;
                        }
                    }

                    .match-detail-info-esinfo-score {
                        font-size: 1.8rem;
                        font-weight: 500;
                        /* Ring background based on percentage */
                        &[data-es] {
                            color: var(--color);
                        }
                        /* Color variations based on ES value */
                        &[data-es^="0.0"],
                        &[data-es^="0.1"],
                        &[data-es^="0.2"] {
                            --color: #ff4444; /* Red for ES < 25% */
                        }

                        &[data-es^="0.3"],
                        &[data-es^="0.4"] {
                            --color: #ffbb33; /* Yellow for ES < 50% */
                        }

                        &[data-es^="0.5"],
                        &[data-es^="0.6"] {
                            --color: #00C851; /* Green for ES < 70% */
                        }

                        &[data-es^="0.7"],
                        &[data-es^="0.8"],
                        &[data-es^="0.9"],
                        &[data-es="1"] {
                            --color: #33b5e5; /* Blue for ES >= 70% */
                        }
                    }
                }

                .match-detail-info-live-content {
                    .match-detail-teams {
                        justify-content: center;

                        .match-detail-team-info {
                            justify-content: center;
                            flex-grow: 0;
                        }

                        img {
                            width: 50px;
                        }
                    }

                    .eslive-map {
                        display: flex;
                        justify-content: center;

                        #heatmapContainer {
                            width: 200px; /* Adjust the width as needed */
                            height: 127px; /* Adjust the height as needed */
                            background-image: url('/field.jpg'); /* Replace with the path to your image */
                            background-size: cover;
                            position: relative; /* Make sure it's positioned relative */
                        }
                    }
                }
            }
        }
    }
}
