.wm-matches {
    display: flex;
    flex-direction: row;

    .match-league-filter {
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        gap: 10px;

        .match-league-item {
            background-color: #b7b7b7;
            font-size: 0.6rem;
            display: flex;
            padding: 5px 10px;
            border-radius: 4px;
            cursor: pointer;

            img {
                width: 20px;
            }

            &.league-active {
                background-color: #ffffff;
            }

            span {
                padding-left: 10px;
                display: flex;
                align-items: center;
            }
        }
    }

    .matches-section {
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        .wm-match-date {
            padding-bottom: 10px;
            margin-top: 5px;

            + .wm-match-date {
                margin-top: 5px;
            }

            .wm-match-date-title {
                color: #ffffff;
                font-size: 0.85rem;
                background-color: #22293b;
                padding: 10px;
                margin: 0;
                border-radius: 5px;
                cursor: pointer;

                &.collapsed {

                    &:before {
                        margin-right: 10px;
                        content: "\f27c";
                        display: inline-block;
                        font-family: bootstrap-icons !important;
                        font-style: normal;
                        font-weight: 400 !important;
                        text-transform: none;
                        vertical-align: -.125em;
                        -webkit-font-smoothing: antialiased;
                    }
                }

                &:before {
                    margin-right: 10px;
                    content: "\f279";
                    display: inline-block;
                    font-family: bootstrap-icons !important;
                    font-style: normal;
                    font-weight: 400 !important;
                    text-transform: none;
                    vertical-align: -.125em;
                    -webkit-font-smoothing: antialiased;
                }
            }
        }


        .matches-section-content {
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
            gap: 1rem;


            &.hide {
                display: none;
            }

            .match-card-simple, .match-card-team {
                font-size: 0.6rem;
            }

            .match-card-score {
                font-size: 0.5rem;
            }
        }

    }
}

@media (max-width: 768px) {
    .wm-matches {
        flex-direction: column;
        margin-top:10px;

        .match-league-filter {
            flex-direction: row;
            flex-wrap: wrap;

            .match-league-item {
                background-color: #b7b7b7;
                font-size: 0.6rem;
                display: flex;
                width: 40px;
                padding: 5px 10px;
                cursor: pointer;

                img {
                    width: 20px;
                }

                &.league-active {
                    background-color: #ffffff;
                }

                span {
                    display: none;
                }
            }
        }
    }
}
