// Import Design System first (CSS variables)
@import "_design_system.scss";

// Legacy SCSS variables (keep for backward compatibility)
$background-color: #21242c;
$text-color: #525360;
$fire-color: linear-gradient(to top, #ff0000, #ff6a00);

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
    font-size: 14px;
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.page-title {
    display: flex;
    align-items: center;
    flex: 1;

    span {
        padding-left: 10px;

        &.subtitle {
            font-size: 10px;
            align-self: flex-end;
        }
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Inter',sans-serif;
    background-color: $background-color;

    .container {
        flex: 1 0 auto;
    }
}

@import "_main.scss";
@import "_about.scss";
@import "_matches_section.scss";
@import "_matches.scss";
@import "_match_detail.scss";
@import "_league.scss";
@import "_match_card.scss";
@import "_match_card_simple.scss";
@import "_footer.scss";
@import "_ads.scss";
@import "_skeleton.scss";
@import "_share_buttons.scss";
@import "_match_like.scss";
@import "_calendar.scss";
@import "_login_modal.scss";
@import "_favorites.scss";
@import "_broadcast_channels.scss";
@import "_settings.scss";
