$background-color: #FFFAFA;
$text-color: #525360;
$fire-color: linear-gradient(to top, #ff0000, #ff6a00);

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.page-title {
    display: flex;
    flex-direction: column;
    align-items:center;
    flex:1;

    span {

        &.subtitle {
            font-size: 10px;
            align-self: flex-end;
        }
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

@import "_main.scss";
@import "_match_section.scss";
@import "_calendar.scss";
@import "_league.scss";
@import "_match_card.scss";
@import "_match_card_simple.scss";