$background-color: #FFFAFA;
$text-color: #525360;
$fire-color: linear-gradient(to top, #ff0000, #ff6a00);

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
    background-color: $background-color;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.page-title {
    display:flex;
    flex-direction:column;
    span {

        &.subtitle{
        font-size: 10px;
        align-self: flex-end;

        }
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {

    margin-bottom: 60px;
}

.match-content {
    display: flex;
    flex-wrap: wrap;

    > .match-card {
        margin: 0.5rem;
    }
}
.watch-explanation{
    font-size:10px;
    margin:0 8px 10px;
    p{
        margin:2px 0;
    }
}

.match-filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .match-filter-item {
        cursor: pointer;
        display: flex;
        margin: 5px;
        border: 2px solid $text-color;
        border-radius: 5px;
        padding: 0 8px;
        align-content: center;
        align-items: center;
        justify-content: center;

        div {
            display: flex;
            padding: 0 2px;
        }

        img {
            width: 1rem;
        }

        &.filter-active {
            background-color: #bcbcbc;
        }
    }
}

.match-card {
    width: 19rem;
    display: flex;
    flex-direction: column;
    background-color: #2a2a33;
    color: #FFFAFA;


    .match-header {
        padding: 0.1rem 0.8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $background-color;

        div {
        }

        img {
            width: 1.5rem;
        }

        .match-header-title {
            padding: 0 0.2rem;
            font-size: 14px;
            color: $text-color;
            font-weight: bold;
        }
    }


    .match-card-body {

        .match-card-teams {
            display: flex;
            flex-direction: row;
            font-size: 12px;
            margin-bottom: 10px;
            font-weight: bold;
            height: 8rem;

            time {
                text-align: center;
            }

            .match-card-teams-item {
                padding: 0px 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    margin: 0;

                    &.match-card-today {
                        font-size: 10px;
                        text-align: center;
                        margin: 5px !important;
                    }
                }




                &.match-card-team {
                    width: 10rem;

                    img {
                        width: 60px;
                        max-width: 60px;
                    }

                    p {
                        margin-top: 10px;
                        overflow: hidden;
                        text-align: center;
                    }


                    .match-card-team-lastfixtures {
                        font-size: 6px;




                        .match-result-w {
                            color: #146d13;
                        }

                        .match-result-d {
                            color: $text-color;
                        }

                        .match-result-l {
                            color: #ff0000;
                        }
                    }


                    @media (min-width: 768px) {
                        .match-card-team-lastfixtures {
                            font-size: 10px;
                        }
                    }
                }
            }
        }

        .match-card-content {
            display: flex;
            flex-grow: 1;

            .match-card-data {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-grow: 1;

                .match-card-data-title {
                    font-size: 16px;
                    font-weight: lighter;


                    span {
                        font-size: 12px;
                    }

                    i {
                        font-size: 18px;
                    }
                }

                .match-card-data-value {
                    font-weight: bold;
                    font-size: 18px;
                }

                &.match-card-data-es {
                    .match-card-data-title {
                        i {
                            font-size: 8px;
                            background: $fire-color;
                            -webkit-background-clip: text;
                            -moz-background-clip: text;
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
        }

        .match-card-watch {
            display: none;

            label {
                font-size: 10px;
                color: #FFFAFA;
                font-weight: bold;
            }
        }
    }
}
